{% extends "base.html" %}

{% block head %}
<style>
  .business-detail {
    background-image: url('../static/images/snowy_texture.jpg');
    height: 200%;
    background-repeat: no-repeat;
	  background-size: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  form .form-group {
    margin: 0 10px;
  }
  .form-control {
    height: 50px; 
    overflow-y: scroll; 
    overflow-x: scroll;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  table {
    margin-top: 20px;
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid black;
    padding: 5px;
  }
  .pagination {
    margin-top: 2px;
    display: grid;
    justify-content: center;
    gap: 15px;
    /* padding: 10px; */
    align-items: center;
    margin-left: 20px;
  }
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
</style>
<script src="{{ url_for('static', filename='js/progressbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/star_rating.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/progressbar.css') }}">
{% endblock %}

{% block content %}
<body class="business-detail">
  <h1>{{ business.name }}</h1>
  <p>Location: {{ business.address }}, {{ business.city }}, {{ business.state }}, {{ business.postal_code }}</p>
  <!-- <p>Stars: {{ business.stars }}</p> -->
  <!-- <p>Stars</p> -->
  <div class="canvas-wrap">
    <canvas id="canvas" width="300" height="300"></canvas>
    <span id="procent"></span>
    <p id="stars">{{ business.stars }}</p>
  </div>  

  <div class="framemenu">
    <form action="{{ url_for('handle_menu_request', business_name=business.name, business_state=business.state, current_section=business.state) }}" method="POST">
      <input type="hidden" name="restaurant_name" value="{{ business.name }}">
      <button type="submit" class="custom-btn btn-12 menubutton" >
        <span>Click Here!</span>
        <span>Menu</span>
      </button>
  </form>
  </div>

  <h2>Reviews</h2>
  {% if reviews %}
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Stars</th>
          <th>Review</th>
          <th style="    width: 100px;">Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set start_index = (page - 1) * per_page %}
        {% set end_index = start_index + per_page %}
        {% for review in reviews[start_index:end_index] %}
          {% set i = loop.index0 %}
          {% if review.user_id == current_user.user_id %}
          <tr>
              <td>{{ usernames[i] }}</td>
              <td>{{ review.stars }}</td>
              <td>{{ review.text[:300] }}...
                <strong data-bs-toggle="modal" data-bs-target="#{{ review.user_id }}">Read more</strong>
                <div class="modal fade" id="{{ review.user_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ usernames[i] }}'s Review</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {{ review.text }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
              <td>{{ review.date.strftime('%Y-%m-%d') }}</td>
              <td>
                <form method="POST" action="{{ url_for('insert_delete_review', business_id=business.business_id, review_id=review.review_id) }}">
                  <div class="pagination">
                    <button type="submit">Delete</button>
                  </div>
                </form>
              </td>
          </tr>
          {% else %}
          <tr>
            <td>{{ usernames[i] }}</td>
            <td>{{ review.stars }}</td>
            <td>{{ review.text[:300] }}...
              <strong data-bs-toggle="modal" data-bs-target="#{{ review.user_id }}">Read more</strong>
              <div class="modal fade" id="{{ review.user_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">{{ usernames[i] }}'s Review</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {{ review.text }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          </td>

            <td>{{ review.date.strftime('%Y-%m-%d') }}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No reviews found.</p>
  {% endif %}

  <div class="pagination p-3 d-flex">
    <div>
    {% if page > 1 %}
      <a href="{{ url_for('business_detail', business_id=business.business_id, page=page-1) }}" class="btn btn-primary mr-4">Previous</a>
    {% endif %}</div>
  
  <div>{% if end_index < reviews|length %}
      <a href="{{ url_for('business_detail', business_id=business.business_id, page=page+1) }}" class="btn btn-primary">Next</a>   
    {% endif %}</div>
  </div>

  <h2 class="container">Add Review</h2>
  <form method="POST" action="{{ url_for('insert_delete_review', business_id=business.business_id, review_id='None') }}">
    <div class="pagination">
      <label for="stars1">Stars:</label>
      <select id="stars1" name="stars1">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select> 
    </div>
    <div class="pagination">
      <label for="review">Review:</label>
      <textarea id="review" name="review"></textarea>
    </div>
    <div class="pagination">
      <button type="submit">Submit</button>
    </div>
  </form>
</body>
{% endblock %}
