{% extends 'base.html' %}

{% block head %}
<title>Menu</title>
<style>
    .image_container {
        width: 150;
        height: 250;
        overflow: hidden;
    }
    .menu {
        background-image: url('../static/images/white_food1.jpg');
    }
    .head {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    table {
        margin: 0 auto;
        width: 80%;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        border: 1px solid black;
    }
</style>
{% endblock %}

{% block content %}
<body class="menu">
    <!-- <h1>{{ restaurant_name }} Menu</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for row in menu_data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td><img src="{{ row[2] }}"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
    {% if menu %}
        <div class="head">
            <h1>Menu</h1>
        </div>    
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for section in menu.keys() %}
                    {% for item in menu[section] %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="image_container">
            <img src="../static/images/sad.jpg">
        </div>
        <div>
            <h3>No menu found.</h3>
        </div>
    {% endif %}
</body>
{% endblock %}
