{% extends 'base.html' %}

{% block head %}
<title>Menu</title>
<style>
    .image_container {
        width: 150;
        height: 250;
        overflow: hidden;
    }
    .menuone {
        background: url('/static/images/white_food1.jpg') center no-repeat;
        width: 100%;
        height: 100%;
    }
    .head {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    table {
        margin: 0 auto;
        width: 80%;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        border: 1px solid black;
        text-align: left;
    }
    form {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
		}
	form .form-group {
	    margin: 0 10px;
	}
    .front-view {
        width: 80%;
        /* max-width: 330px; */
        padding: 15px;
        /* padding-top: 15px; */
        margin: auto;
    }
</style>
<script>
    function showOptions(select) {
      select.size = 5;
    }
  </script>
{% endblock %}

{% block content %}
<body class="menuone">
    {% if menu %}
    <main class="front-view bg-white rounded-3 bg-opacity-75">
        <div class="head">
            <h1>Menu</h1>
        </div>

        <form method="GET" >
            <div class="form-group">
              <select name="section" class="form-control" size="1" style="overflow-y:scroll" onfocus="showOptions(this)" onchange="this.size=1;">
                <option value="">Select Section</option>
                {% for section in menu.keys() %}
                  <option value="{{ section }}" {% if request.args.get('section') == section %}selected{% endif %}>{{ section }}</option>
                {% endfor %}  
              </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Go</button>
            </div>
          </form> 
        </div>
        

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>$</th>
                </tr>
            </thead>
            <tbody>
                {% for item in section_items %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        {% if item[1] == '' %}
                            <td>No Description</td>
                        {% else %}
                            <td>{{ item[1] }}</td>
                        {% endif %}
                        <td>{{ item[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    {% else %}
        <div class="image_container">
            <img src="/static/images/Sad.jpg">
        </div>
        <div>
            <h3>No menu found.</h3>
        </div>
    {% endif %}
</body>
{% endblock %}
